
<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>




<%= link_to 'Edit', edit_admin_product_path(@product), class: "btn btn-outline-primary" %>
<%= link_to 'Back', admin_products_path, class: "btn btn-outline-primary" %>
