<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <h2>Category:</h2>
  <%= @category.name %>
</p>

<div class="form-control col-sm-6 col-lg-3">
  <% @items.each do |item| %>
   <div>
     <%= link_to item.title,item %>
   </div>
  <% end %>
</div>

<br>

<% if @current_user.try("admin?") %>
  <div class="form-control">
    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>
  </div>
<%end%>