<% if notice %>
  <aside class="alert alert-success"><%= notice %></aside>
<% end %>

<h1><%= t('.title_html') %></h1>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <div class="container bg-light rounded" style="width: 20rem;">
          <li class="list-group list-group-flush ">
            <%= image_tag(product.image_url, size: "150") %>
            <h2><%= product.title %></h2>
            <p class="list-group-item">
              <%= sanitize(product.description) %>
            </p>
            <p class="list-group-item">
              <%= link_to product.category.name, product.category %>
            </p>
            <div class="price list-group-item">
              <%= number_to_currency(product.price_with_discount) %>
            </div>
            <div class="card-footer">
              <%= button_to "Add to Cart", line_items_path(product_id: product),
                            remote: true, class: 'btn btn-success active'%>

            </div>
          </li>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
