<% if notice %>
  <aside class="alert alert-success"><%= notice %></aside>
<% end %>

<h1><%= t('.title_html') %></h1>

<br>

<div class="row">

  <div class="col">
    <%= link_to "По цене",  { sort: :price }, class: "btn btn-outline-secondary" %>
  </div>

  <div class="col">
    <%= link_to "По размеру скидки", { sort: :discount }, class: "btn btn-outline-secondary"  %>
  </div>


  <div class="col">
    <%= link_to "По алфавиту", { sort: :title }, class: "btn btn-outline-secondary"  %>
  </div>

</div>
<br>

<%= render partial: "/categories/books", locals: { products: @products } %>
<%= paginate @products %>